/*Navbar*/

.navbar-custom {
  background-color: #c9e265/*orangered;*//*#FF6D4D*//*#FF784D*//*#FF914D*/;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
            color: #384996;
            font-family: caveat;
            font-size: 26px;
            font-weight: bold;

        }
.color1{
  color: #4D8BD1;
  padding-right: 4px;
}
.color2{
  color: #2D68AB;
  padding-right: 4px;
}
.color3{
  color: #4054AD;
  padding-right: 4px;
}
.color4{
  color: #0F237B;
  padding-right: 1px;
}
.color5{
  color: #081A6B;
}
/**/

.row {
  padding: 0;
}
.bg-left {
  background-color: #384996;
  overflow: hidden;
}

.right {
  background-image: url("./assets/city.png");
  background-size: cover;
  height: 100%;
  z-index: 80;
}


.instruction, .correction{ /*copie des features du bootstrap input et adaptation*/
  height: 80px;
  margin-top: 1rem!important;
  /* margin-bottom: 4rem!important; */
  min-height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 2rem;
  font-family:'Roboto';
  font-weight: 600;
  text-align: center;
  border-radius: .3rem;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.75;
  color: #073572;
  background-color: #fff;
  background-clip: padding-box;
  border: 5px solid orange/*#ced4da*/
}

.instruction, .correction { 
  margin-bottom: 4rem!important;
}

.attempt {
  font-family: 'Roboto';
  height: 60px;
  font-size: 1.75rem;
  font-family:'Roboto';
  font-weight: 600;
  line-height: 1.75;
  color: #073572;
  text-align : center;
}


.fa-xmark{
text-align: center;/*ne sert à rien*/
font-size: 35px;
color:#FF5757;
}

.fa-check{
text-align: center;/*ne sert à rien*/
font-size: 35px;
color: /*#7ED957*/  #C9E265;
}

#plane {
  color: #4D8BD1;
  width: 50px;
  height: 50px; 
}

.container {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.btn {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  transition: all 0.3s;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  background-color: #00C2CB/*#7ED957*/ /*#C9E265*/;
  border-radius: 50%;
  padding: 0;
}


.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/*Demander à Gérald puis à Dan pourquoi le style du placeholder ne fonctionne pas*/
::placeholder { 
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}

.planeAnimation {
    -webkit-transform: translate(100px, -100px);
    -moz-transform: translate(100px, -100px);
    -o-transform: translate(100px, -100px);
    -ms-transform: translate(100px, -100px);
    transform: translate(100px, -100px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.onButton{
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: absolute;
    border: 26px solid #C9E265;
    border-radius: 50%;
}

.isShown{
  visibility: visible;
}

.isHidden{
  visibility: hidden;
}

/*orange : #FF7F50*/
/* vert #7ED957*/

