
.contact2 {
  font-family: roboto, sans-serif;
  color: /*#8d97ad*/;
  font-weight: 300;
	padding: 60px 0;
  margin-bottom: 170px;
  background-position: center top;
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
  color: #081A6B;
}

.contact2 .font-weight-medium {
  font-weight: 500;
}

.contact2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.contact2 .bg-image {
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact2 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact2 .detail-box {
  margin-top: 100px;
}


.contact2 .contact-container .links a {
  color: #8d97ad;
}

.contact2 .contact-container {
  position: relative;
  top: 200px;
}

.btnContact{
  background-color: #00AECA;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin:auto;
  border-radius: 0%;
  width: 100px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  background-color:  #00C2CB ;/*#7ED957*//* #C9E265*/
  padding: 0;
}
.bg-image{
  background-image: url(../assets/augustin-louis-cauchy.jpeg);
}
.detail-box{
  color: black;
}
.bg-custom{
  background-color:#EAF5FF ;
}

.bg-container-custom{
  background-image: url(../assets/city6.png);
  background-size: auto;
 /* background-color: red;*/
}

.overflowshown{
  overflow: visible;
}
